{% if page.footer.viewedProducts %}
    {% for product in page.footer.viewedProducts %}
        <p>{{ product.id }}</p>
    {% endfor %}
    {% block recently_viewed_products_slider %}
      <div class="recently-viewed-products">
        <div class="container">
          <div class="row">
            <div class="col">
              <div id="RecentlyViewedProductSlider" class="base-slider product-slider has-nav"
                   data-product-slider="true"
                   data-product-slider-options='{
                  "productboxMinWidth" : "300px",
                  "slider" : {
                      "gutter" : 20,
                      "autoplayButtonOutput": false,
                      "nav": false,
                      "controls" : true,
                      "autoplay" : false
                  }

                  }'>

                  <div class="h2 recently-viewed-product-slider-title">{{ "plugin.recentlyViewedProductsTitle"|trans  }}</div>


                  <div class="product-slider-container" data-product-slider-container="true">
                      {% for product in page.footer.viewedProducts %}
                          <div class="product-slider-item">
                              {% sw_include '@Storefront/storefront/viewedproducts/viewed-products-single.html.twig' with {
                                  'layout': sliderConfig.boxLayout.value,
                                  'displayMode': sliderConfig.displayMode.value
                              } %}
                          </div>
                      {% endfor %}
                  </div>
                  <div class="product-slider-controls-container">
                      <div class="base-slider-controls"
                           data-product-slider-controls="true">
                          {% block recently_viewed_products_slider_controls_items %}
                              <button class="base-slider-controls-prev product-slider-controls-prev{% if sliderConfig.border.value %} has-border{% endif %}">
                                  {% block recently_viewed_products_slider_controls_items_prev_icon %}
                                      {% sw_icon 'arrow-large-left' style { 'pack': 'solid' } %}
                                  {% endblock %}
                              </button>
                              <button class="base-slider-controls-next product-slider-controls-next{% if sliderConfig.border.value %} has-border{% endif %}">
                                  {% block recently_viewed_products_slider_controls_items_next_icon %}
                                      {% sw_icon 'arrow-large-right' style { 'pack': 'solid' } %}
                                  {% endblock %}
                              </button>
                          {% endblock %}
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
{% endif %}

